<html>
    <head>
        <title>
            Home Page
        </title>
    </head>
    <body>
            <h1>Welcome to Home Page</h1>
            <table border="1">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
                <% userdata.forEach(function(user) { %>
                    <tr>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                    </tr>
                <% }); %>
            </table>
            
        </form>
    </body>
</html>