<html>
    <head>
        <title>
            Signup page
        </title>
    </head>
    <body>
        <form action="/signupsubmit" method="GET">
            <h1>Registration form</h1>
            First name: <input type="text" name="First_Name"><br>
            Last name: <input type="text" name="Last_Name"><br>
            Email:<input type="email" name="mail" placeholder="******@gmail.com"><br>
            Password:<input type="password" name="pass"><br>
            <input type="submit">
        </form>
    </body>
</html>