<html>
    <head>
        <title>
            Signin page
        </title>
    </head>
    <body>
        <form action="/signinsubmit" method="GET">
            <h1>Login with your details</h1>
           
            Email:<input type="email" name="mail" placeholder="******@gmail.com"><br>
            Password:<input type="password" name="pass"><br>
            <input type="submit">
        </form>
    </body>
</html>