<html>
    <title>Welcome Page</title>
    <style>
        body {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-size: 1000px 800px;
    background-position: center;
    background-repeat: no-repeat;

    background-color: grey; 
        }
    </style>
        
        <body>
            <div>
                <h1 style="color: rgb(129, 224, 116); display: inline-block;">Hey,This is Rakesh!</h1> <br>
                <a href='/signup'><input class="button" type="submit" value="Signup"></a>
                <p>
                    Already have an account! <a href="/signin">Signin</a>
                </p>
                
            </div>
        </body>
        
</html>